################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreTempalate/.vs
/CoreTempalate/CoreTempalate/obj
